<div class=""

<h1>{{title}}</h1>
<img src="{{image}}"/>
<a href="{{url}}">{{source}}</a>
<p>For {{number}} persons</p>
<p>This meal is {{calories}}</p>
<ul class="ingredient_list">
{{#each ingredients}}
<li>{{this}}</li>
{{/each}}
</ul>